.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#text { margin-bottom: 20px; }
#quiz { margin-top: 20px; }
input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
    color: #363839;
    border: 1px solid #bdc1c6;
}
.sentence {
    display: flex;
    align-items: center;
}